[Unit]
Description=Setup Network 
After=network-pre.target systemd-sysusers.service
Before=network.target multi-user.target shutdown.target
Wants=network.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/setup-network.sh

[Install]
WantedBy=basic.target

