[Unit]
Description=persist-prop service
After=leprop.service
Requires=leprop.service

[Service]
ExecStart=/usr/bin/setprop le.persistprop.enable true

[Install]
WantedBy=multi-user.target
